@charset "UTF-8";
/* 커스텀 스크롤바 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 4px;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* 사진에 맞는 원형 체크박스 커스텀 */
.circle-checkbox {
	appearance: none;
	width: 18px;
	height: 18px;
	border: 1.5px solid #d1d5db;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: relative;
	background-color: white;
	transition: all 0.2s;
}

.circle-checkbox:hover {
	border-color: #3b82f6;
}

.circle-checkbox:checked {
	background-color: #2563eb;
	border-color: #2563eb;
}

.circle-checkbox:checked::after {
	content: '';
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 5px;
	height: 9px;
	border: solid white;
	border-width: 0 2px 2px 0;
}

/* 네모 체크박스 커스텀 (테일윈드 폼 플러그인 대체용) */
.square-checkbox {
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: 1.5px solid #d1d5db;
	cursor: pointer;
	accent-color: #2563eb;
}